$colors: (
   grey: (
      50: #ffffff,
      100: #efefef,
      200: #dcdcdc,
      300: #bdbdbd,
      400: #989898,
      500: #7c7c7c,
      600: #656565,
      700: #525252,
      800: #464646,
      900: #3d3d3d,
      950: #292929,
      default: #7c7c7c,
      light: #efefef,
      dark: #292929,
   ),

   danger: (
      50: #fff1f3,
      100: #ffe3e8,
      200: #ffccd7,
      300: #ffa1b7,
      400: #ff668c,
      500: #f93a6f,
      600: #e7175b,
      700: #c30d4c,
      800: #a30e46,
      900: #8b1043,
      950: #4e0320,
      default: #f93a6f,
      light: #ffccd7,
      dark: #a30e46,
   ),

   warning: (
      50: #fef9ec,
      100: #fcebc9,
      200: #fcebc9,
      300: #f7b950,
      400: #f5a02a,
      500: #ee7e12,
      600: #d35c0c,
      700: #af3e0e,
      800: #8e3012,
      900: #752812,
      950: #431305,
      default: #ee7e12,
      light: #fad58d,
      dark: #af3e0e,
   ),

   success: (
      50: #f1fcf4,
      100: #dff9e8,
      200: #c0f2d1,
      300: #8fe6ae,
      400: #30b760,
      500: #30b760,
      600: #22974b,
      700: #1e773e,
      800: #1d5e35,
      900: #194e2d,
      950: #092a17,
      default: #30b760,
      light: #c0f2d1,
      dark: #1d5e35,
   ),

   info: (
      50: #f1fcfb,
      100: #cff8f1,
      200: #9ff0e5,
      300: #67e1d5,
      400: #4bcec5,
      500: #1fada5,
      600: #168b88,
      700: #166f6d,
      800: #165959,
      900: #174a4a,
      950: #072b2c,
      default: #1fada5,
      light: #9ff0e5,
      dark: #165959,
   ),

   primary: (
      50: #f6f3ff,
      100: #efe9fe,
      200: #e0d6fe,
      300: #cab5fd,
      400: #aa83f9,
      500: #975df5,
      600: #8a3bec,
      700: #7b29d8,
      800: #6722b5,
      900: #551e94,
      950: #351065,
      default: #975df5,
      light: #e0d6fe,
      dark: #7b29d8,
   ),

   theme: (
      text: #555555be,
      bgColor: #ffffff,
      bgContent: #aeb1b8,
      borderColor: #474242,
      shadow: #1111115e,
   ),

   dark: (
      text: #bebebe,
      bgColor: #1e2122,
      bgContent: #303131af,
   ),
);
