$color-grey-50: rgb(var(--color-grey-50));
$rc-grey-50: var(--color-grey-50);
$color-grey-100: rgb(var(--color-grey-100));
$rc-grey-100: var(--color-grey-100);
$color-grey-200: rgb(var(--color-grey-200));
$rc-grey-200: var(--color-grey-200);
$color-grey-300: rgb(var(--color-grey-300));
$rc-grey-300: var(--color-grey-300);
$color-grey-400: rgb(var(--color-grey-400));
$rc-grey-400: var(--color-grey-400);
$color-grey-500: rgb(var(--color-grey-500));
$rc-grey-500: var(--color-grey-500);
$color-grey-600: rgb(var(--color-grey-600));
$rc-grey-600: var(--color-grey-600);
$color-grey-700: rgb(var(--color-grey-700));
$rc-grey-700: var(--color-grey-700);
$color-grey-800: rgb(var(--color-grey-800));
$rc-grey-800: var(--color-grey-800);
$color-grey-900: rgb(var(--color-grey-900));
$rc-grey-900: var(--color-grey-900);
$color-grey-950: rgb(var(--color-grey-950));
$rc-grey-950: var(--color-grey-950);
$color-grey: rgb(var(--color-grey));
$rc-grey: var(--color-grey);
$color-grey-light: rgb(var(--color-grey-light));
$rc-grey-light: var(--color-grey-light);
$color-grey-dark: rgb(var(--color-grey-dark));
$rc-grey-dark: var(--color-grey-dark);
$color-danger-50: rgb(var(--color-danger-50));
$rc-danger-50: var(--color-danger-50);
$color-danger-100: rgb(var(--color-danger-100));
$rc-danger-100: var(--color-danger-100);
$color-danger-200: rgb(var(--color-danger-200));
$rc-danger-200: var(--color-danger-200);
$color-danger-300: rgb(var(--color-danger-300));
$rc-danger-300: var(--color-danger-300);
$color-danger-400: rgb(var(--color-danger-400));
$rc-danger-400: var(--color-danger-400);
$color-danger-500: rgb(var(--color-danger-500));
$rc-danger-500: var(--color-danger-500);
$color-danger-600: rgb(var(--color-danger-600));
$rc-danger-600: var(--color-danger-600);
$color-danger-700: rgb(var(--color-danger-700));
$rc-danger-700: var(--color-danger-700);
$color-danger-800: rgb(var(--color-danger-800));
$rc-danger-800: var(--color-danger-800);
$color-danger-900: rgb(var(--color-danger-900));
$rc-danger-900: var(--color-danger-900);
$color-danger-950: rgb(var(--color-danger-950));
$rc-danger-950: var(--color-danger-950);
$color-danger: rgb(var(--color-danger));
$rc-danger: var(--color-danger);
$color-danger-light: rgb(var(--color-danger-light));
$rc-danger-light: var(--color-danger-light);
$color-danger-dark: rgb(var(--color-danger-dark));
$rc-danger-dark: var(--color-danger-dark);
$color-warning-50: rgb(var(--color-warning-50));
$rc-warning-50: var(--color-warning-50);
$color-warning-100: rgb(var(--color-warning-100));
$rc-warning-100: var(--color-warning-100);
$color-warning-200: rgb(var(--color-warning-200));
$rc-warning-200: var(--color-warning-200);
$color-warning-300: rgb(var(--color-warning-300));
$rc-warning-300: var(--color-warning-300);
$color-warning-400: rgb(var(--color-warning-400));
$rc-warning-400: var(--color-warning-400);
$color-warning-500: rgb(var(--color-warning-500));
$rc-warning-500: var(--color-warning-500);
$color-warning-600: rgb(var(--color-warning-600));
$rc-warning-600: var(--color-warning-600);
$color-warning-700: rgb(var(--color-warning-700));
$rc-warning-700: var(--color-warning-700);
$color-warning-800: rgb(var(--color-warning-800));
$rc-warning-800: var(--color-warning-800);
$color-warning-900: rgb(var(--color-warning-900));
$rc-warning-900: var(--color-warning-900);
$color-warning-950: rgb(var(--color-warning-950));
$rc-warning-950: var(--color-warning-950);
$color-warning: rgb(var(--color-warning));
$rc-warning: var(--color-warning);
$color-warning-light: rgb(var(--color-warning-light));
$rc-warning-light: var(--color-warning-light);
$color-warning-dark: rgb(var(--color-warning-dark));
$rc-warning-dark: var(--color-warning-dark);
$color-success-50: rgb(var(--color-success-50));
$rc-success-50: var(--color-success-50);
$color-success-100: rgb(var(--color-success-100));
$rc-success-100: var(--color-success-100);
$color-success-200: rgb(var(--color-success-200));
$rc-success-200: var(--color-success-200);
$color-success-300: rgb(var(--color-success-300));
$rc-success-300: var(--color-success-300);
$color-success-400: rgb(var(--color-success-400));
$rc-success-400: var(--color-success-400);
$color-success-500: rgb(var(--color-success-500));
$rc-success-500: var(--color-success-500);
$color-success-600: rgb(var(--color-success-600));
$rc-success-600: var(--color-success-600);
$color-success-700: rgb(var(--color-success-700));
$rc-success-700: var(--color-success-700);
$color-success-800: rgb(var(--color-success-800));
$rc-success-800: var(--color-success-800);
$color-success-900: rgb(var(--color-success-900));
$rc-success-900: var(--color-success-900);
$color-success-950: rgb(var(--color-success-950));
$rc-success-950: var(--color-success-950);
$color-success: rgb(var(--color-success));
$rc-success: var(--color-success);
$color-success-light: rgb(var(--color-success-light));
$rc-success-light: var(--color-success-light);
$color-success-dark: rgb(var(--color-success-dark));
$rc-success-dark: var(--color-success-dark);
$color-info-50: rgb(var(--color-info-50));
$rc-info-50: var(--color-info-50);
$color-info-100: rgb(var(--color-info-100));
$rc-info-100: var(--color-info-100);
$color-info-200: rgb(var(--color-info-200));
$rc-info-200: var(--color-info-200);
$color-info-300: rgb(var(--color-info-300));
$rc-info-300: var(--color-info-300);
$color-info-400: rgb(var(--color-info-400));
$rc-info-400: var(--color-info-400);
$color-info-500: rgb(var(--color-info-500));
$rc-info-500: var(--color-info-500);
$color-info-600: rgb(var(--color-info-600));
$rc-info-600: var(--color-info-600);
$color-info-700: rgb(var(--color-info-700));
$rc-info-700: var(--color-info-700);
$color-info-800: rgb(var(--color-info-800));
$rc-info-800: var(--color-info-800);
$color-info-900: rgb(var(--color-info-900));
$rc-info-900: var(--color-info-900);
$color-info-950: rgb(var(--color-info-950));
$rc-info-950: var(--color-info-950);
$color-info: rgb(var(--color-info));
$rc-info: var(--color-info);
$color-info-light: rgb(var(--color-info-light));
$rc-info-light: var(--color-info-light);
$color-info-dark: rgb(var(--color-info-dark));
$rc-info-dark: var(--color-info-dark);
$color-primary-50: rgb(var(--color-primary-50));
$rc-primary-50: var(--color-primary-50);
$color-primary-100: rgb(var(--color-primary-100));
$rc-primary-100: var(--color-primary-100);
$color-primary-200: rgb(var(--color-primary-200));
$rc-primary-200: var(--color-primary-200);
$color-primary-300: rgb(var(--color-primary-300));
$rc-primary-300: var(--color-primary-300);
$color-primary-400: rgb(var(--color-primary-400));
$rc-primary-400: var(--color-primary-400);
$color-primary-500: rgb(var(--color-primary-500));
$rc-primary-500: var(--color-primary-500);
$color-primary-600: rgb(var(--color-primary-600));
$rc-primary-600: var(--color-primary-600);
$color-primary-700: rgb(var(--color-primary-700));
$rc-primary-700: var(--color-primary-700);
$color-primary-800: rgb(var(--color-primary-800));
$rc-primary-800: var(--color-primary-800);
$color-primary-900: rgb(var(--color-primary-900));
$rc-primary-900: var(--color-primary-900);
$color-primary-950: rgb(var(--color-primary-950));
$rc-primary-950: var(--color-primary-950);
$color-primary: rgb(var(--color-primary));
$rc-primary: var(--color-primary);
$color-primary-light: rgb(var(--color-primary-light));
$rc-primary-light: var(--color-primary-light);
$color-primary-dark: rgb(var(--color-primary-dark));
$rc-primary-dark: var(--color-primary-dark);
$color-theme-text: rgb(var(--color-theme-text));
$rc-theme-text: var(--color-theme-text);
$color-theme-bgColor: rgb(var(--color-theme-bgColor));
$rc-theme-bgColor: var(--color-theme-bgColor);
$color-theme-bgContent: rgb(var(--color-theme-bgContent));
$rc-theme-bgContent: var(--color-theme-bgContent);
$color-theme-borderColor: rgb(var(--color-theme-borderColor));
$rc-theme-borderColor: var(--color-theme-borderColor);
$color-theme-shadow: rgb(var(--color-theme-shadow));
$rc-theme-shadow: var(--color-theme-shadow);
$color-dark-text: rgb(var(--color-dark-text));
$rc-dark-text: var(--color-dark-text);
$color-dark-bgColor: rgb(var(--color-dark-bgColor));
$rc-dark-bgColor: var(--color-dark-bgColor);
$color-dark-bgContent: rgb(var(--color-dark-bgContent));
$rc-dark-bgContent: var(--color-dark-bgContent);